* {
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

html {
    font-size: 100%;
}

body {
    background-color: #F0F0F0;
    color: #000000;
    font-size: 0.875rem;
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    position: relative;
    cursor: none; /*もともとあるカーソルは見えなくなるようにする*/
}

/*カーソル要素-----------------------*/	
#cursor{
    position: fixed; /*bodyの一番左上になるように配置する*/
    top: 0; /*省略可（基準値0）*/
    left: 0; /*省略可（基準値0）*/

    /*丸の大きさと色の指定*/
    border-radius:50%;
    width: 20px;
    height: 20px;
    background-color:#000000;
    margin: -10px 0 0 -10px;/*真ん中にくるようにマイナスマージンで調整*/
    
    z-index: 999; /*どの要素よりも一番上になるようにする*/
    pointer-events: none; /*他の要素がクリックできなくならないように*/
    opacity: 0; /*一番はじめ（ページ読み込み時）は見えないようにする*/
    transition: transform 0.5s;/*ホバー時のアニメーションの秒数指定*/
}
/*----------------------------------------*/

/*少し遅れてくるストーカー要素-----------------------*/	
#stalker{
    position: fixed;
    top: 0; /*省略可（基準値0）*/
    left: 0; /*省略可（基準値0）*/

    /*丸の大きさと色の指定*/
    border-radius:50%;
    width: 60px;
    height: 60px;
    background: #fa02fa;
    margin: -30px 0 0 -30px;/*真ん中にくるようにマイナスマージンで調整*/

    z-index: 990;/*カーソルの後ろに来るように*/
    pointer-events: none;/*クリックできなくなるのを防ぐため。noneで対応*/
    opacity: 0; /*一番はじめ（ページ読み込み時）は見えないようにする*/
    transition: transform 0.5s;/*ホバー時のアニメーションの秒数指定*/
}

#cursor.active,
#stalker.active{
transform: scale(1.5);
}
/*----------------------------------------*/	

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 0.875rem;
    cursor: none;
}


.wrapper{
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
    padding: 0 16px;
}

/*=====header======*/
#header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .header-left {
    display: flex;
    align-items: center;
}

#header .logo {
    margin-right: 60px;
    width: 100px;
    line-height: 1px;
}

#header .logo img{
    max-width: 100px;
}



#header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header nav li {
    margin-right: 30px;
}

#header .header-right {
    width: 200px;
    height: 80px;
}

#header .header-right a{
    display: block;
    background-color: #000000;
    color:#ffffff;
    line-height: 80px;
    text-align: center;
    font-size: 0.75rem;
}

#header .header-right a:hover{
    opacity: 0.7;
}

/*=====main======*/


/*共通（section-tittle）*/
.section-tittle {
    font-weight: normal;
    line-height: 1;
    margin-bottom: 50px;
}

.section-tittle .en {
    display: block;
    font-size: 2.25rem;
    letter-spacing: 0.3em;
    margin-bottom: 10px;
}

.section-tittle .ja {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 36px;
}

.section-tittle::after {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #000000;
    display: block;
}


/*main-visual*/
#main-visual {
    margin-bottom: 120px;
}

#main-visual img{
    height: calc(100vh - 80px);
    width:100%;
    object-fit: cover;
}

/*news*/
#news {
    margin-bottom: 120px;
}



#news .list {
    display: flex;
    justify-content: space-between;
}

#news .list li {
    border-right: 1px solid #000000;
    width: calc(100%/3);
    padding: 10px 20px;
}

#news .list li:first-child {
    padding-left: 0px;
}

#news .list li:last-child {
    padding-right: 0px;
    border-right: none;
}

#news .list li .date-area{
    margin-bottom: 16px;
}

#news .list li .date-area span {
    width: 50px;
    height: 20px;
    line-height: 20px;
    background-color: #000000;
    color: #ffffff;
    font-size: 0.75rem;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
}

/*about*/

#about {
    display: flex;
    margin-bottom: 120px;
}

#about .img {
    width: 55%;
}
#about .img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#about .text {
    width: 45%;
    padding: 180px 5% 0 5%;
}

#about .text p {
    line-height: 2.2;
}

/*business*/
#business {
margin-bottom: 120px;
}

#business .flex {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

#business .flex .tittle {
    margin: 0 0 10px 18px;
    position: relative;
    font-weight: bold;
}

#business .flex .tittle::before {
    content: "";
    width: 8px;
    height: 1px;
    background-color: #000000;
    top: 50%;
    left: -18px;
    position: absolute;

    
}

#business .item {
    margin-bottom: 50px;
}

#business .item:last-child{
    margin-bottom: 0px;
}

#business .left {
    width: 46%;
    margin-top: 100px;
}

#business .left img{
    width: 100%;
    vertical-align: bottom;
}

#business .right {
    width: 46%;
}

#business .right img{
    width: 100%;
    vertical-align: bottom;
}

/*company*/

#company {
    display: flex;
    align-items: center;
    position: relative;
    height: 750px;
    
}

#company .text {
    width:55%;
    background-color: #ffffff;
    padding: 100px 8% 100px 6%;
    position: absolute;
    left: 0;
    top: 0;

}

#company .text .info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#company .text .info dt {
    width: 20%;
    margin-top: 10px;
}
#company .text .info dd {
    width: 80%;
    margin-top: 10px;
}

#company .text .info .add{
    margin-left: 20%;
}

#company .text .info dt:first-child {
    margin-top: 0px;
}
#company .text .info dd:first-child {
    margin-top: 0px;
}


#company .img {
    width: 53%;
    position: absolute;
    top: 115px;
    right: 0;
}

#company .img img {
    width: 100%;
    height: 400px;
}

/*=====footer======*/

#footer {
    background-color: #ffffff;
    padding-bottom: 20px;
}

#footer .flex{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .logo {
width: 100px;

}
#footer .logo img{
    max-width: 100%;
    vertical-align: bottom;
}

#footer .copy-right{
    font-size: 0.625rem;
}












